main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main .section-1 {
    width: 70%;
    height: auto;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 2rem 0;
    margin: 0;
    flex-shrink: 1 !important;
}

main .section-1 .card {
    width: 30%;
    height: auto;
    background: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    background-color: #222531;
    border-radius: 6px;
}

main .section-1 .card .card-header {
    width: 100%;
    height: auto;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem 1.5rem;
    margin: 0;
}

main .section-1 .card .card-header h3 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    cursor: auto;
}

main .section-1 .card .card-header a {
    color: rgb(63, 99, 230);
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

main .section-1 .card .card-header a i {
    font-size: 10px;
}

main .section-1 .card .card-body {
    width: 100%;
    height: auto;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem 1.5rem;
    margin: 0;
}

main .section-1 .card .card-body table {
    width: 100%;
    height: auto;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

main .section-1 .card .card-body table tr {
    width: 100%;
}

main .section-1 .card .card-body table td {
    padding: 7px;
    margin: 0;
}

main .section-1 .card .card-body table td a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
}

main .section-1 .card .card-body table td p {
    color: white;
    font-size: 13px;
}

main .section-1 .card .card-body table td small {
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

@media screen and (max-width: 991px) {
    main .section-1 {
        width: 100%;
        height: auto;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    main .section-1 .card {
        width: 90%;
        height: auto;
        background: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        padding: 0;
        margin: 0;
        background-color: #222531;
        border-radius: 6px;
    }
}

/* Section-1 Ends */
/* Section-2 Starts */


main .section-2 {
    width: 70%;
    height: 80vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 2rem 0;
    margin: 0;
    flex-shrink: 1 !important;
}